<header class="d-flex justify-content-between p-3 align-items-center border-bottom bg-primary">
  <div class="c-logo"><img src="../favicon.ico" alt="logo"></div>
  <nav class="d-flex align-items-center">
    <div class="d-flex align-items-center">
      <ul class="d-flex justify-content-end flex-wrap align-items-center">
        <ol class="px-4 text-light py-1">Home</ol>
        <ol class="px-4 text-light py-1">About</ol>
        <ol class="px-4 text-light py-1">Shop</ol>
        <ol class="px-4 text-light py-1">Help</ol>
        <ol class="px-4 text-light py-1"><div class="btn btn-dark"><i class="bi bi-cart2 "></i> Your cart</div></ol>
      </ul>
    </div>
  </nav>
</header>
