<div class="p-4 m-4 rounded bg-primary">
  <div class="text-light d-flex justify-content-center">
    <h2 class="border-bottom">Carrito</h2>
  </div>

  <div class="">
    <app-cart-list-view-product
      *ngFor="let cartEntry of cartInUse"
      [cartEntry]="cartEntry"
      (addQuantity)="addQuantityCartEntry($event)"
      (substractQuantity)="substractQuantityCarEntry($event)"
      (deleteCartEntity)="deleteCartEntry($event)"
    ></app-cart-list-view-product>
  </div>
  <div class="p-2 d-flex justify-content-end">
    <button class="btn btn-danger" (click)="resetCart()">
      <i class="bi bi-trash3"></i> Limpiar carrito
    </button>
  </div>
</div>
