
<app-header></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-3 p-0 m-0">
      <app-sidebar [productsList]="productsWithFilter" (showProduct2)="showProduct($event)" (applyFilter)="applyFilter()" (resetFilter)="resetFilter()"></app-sidebar>
    </div>
    <div class="col-12 col-md-9 bg-body-tertiary">
      <app-product [product]="productInUse" (deleteProduct)="deleteProduct($event)" (changeRating)="changeRating($event)"></app-product>
      <div class="m-auto p-3" *ngIf="productInUse.similarProducts?.length">
        <hr>
        <h3 class="text-center">Similar products</h3>
        <div class="d-flex flex-wrap justify-content-around">
          <div *ngFor="let similarProduct of productInUse.similarProducts">
            <app-similar-product [similarProduct]="similarProduct" (showProduct)="showProduct($event)"></app-similar-product>
          </div>
        </div>
      </div>
      <div class="border-bottom p-3" *ngIf="productInUse.reviews?.length">
        <hr>
        <h3>Reviews</h3>
        <div *ngFor="let productReview of productInUse.reviews">
          <app-review [review]="productReview"></app-review>
          <hr class="w-25">
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
