<div class="p-3 border-end bg-primary-subtle h-100">
  <div class="m-1 d-flex flex-wrap align-items-center">
    <div class="btn btn-secondary m-1 w-100" (clickedApplyFilter)="clickedApplyFilter()">Filter</div>
    <div class="btn btn-secondary m-1 w-100" (clickedResetFilter)="clickedResetFilter()">Reset Filter</div>
  </div>
  <div>
    <div class="fw-bold my-2">Products:</div>
    <div *ngFor="let product of productsList">
      <app-list-view-product [productName]="product.product" [productId]="product.id" (showProduct)="showProduct(product.id)"></app-list-view-product>
    </div>
  </div>
</div>
