<div class="c-cart-list-view c-cart-list-view@tablet">
  <div class="c-cart-list-view__img">
    <img src="../assets/{{ cartEntry.product.id }}.png" alt="{{ cartEntry.product.id }}" class="w-100"/>
  </div>
  <div class="c-cart-list-view__name">
    <span class="border-bottom ">{{ cartEntry.product.product }}</span>
  </div>
  <div class="c-cart-list-view__price">
    {{ cartEntry.product.price }}{{ cartEntry.product.currency }}
  </div>
  <div class="c-cart-list-view__quantity">
    <div class="c-pill-nums">
      <button class="c-pill-nums__substract-btn" (click)="onSubstractQuantity()">-</button>
      <div class="c-pill-nums__number">{{ cartEntry.quantity }}</div>
      <button class="c-pill-nums__add-btn" (click)="onAddQuantity()">+</button>
    </div>
    <div class="d-flex align-items-center">
      <button class="btn btn-danger" (click)="onDeleteProductFromCart()"><i class="bi bi-trash3"></i></button>
    </div>
  </div>
</div>
