<div class="p-3 border-end bg-primary-subtle h-100">
  <div class="m-1 align-items-center">
    <app-filter-button
      *ngFor="let filter of filtersList"
      [filterType]="filter"
      (changeFilter)="onChangeFilter($event)"
      [isPicked]="filter === activeFilter ? true : false"
    ></app-filter-button>
  </div>
  <div>
    <div class="fw-bold my-2">Products:</div>
    <div *ngFor="let product of productsList">
      <app-list-view-product
        [product]="product"
        (showProduct)="showProduct(product)"
        [ngClass]=""
      ></app-list-view-product>
    </div>
    <button class="btn btn-primary" routerLink="/insert-product"> Add new Product</button>
  </div>
</div>
